.catalogue {
    // Pink
    .colourbox {
        background-color: pink;
    }
    // Gold
    .colourbox {
        background-color: gold;
    }

    // Khaki
    .colourbox {
        background-color: khaki;
    }
    // Lime
    .colourbox {
        background-color: lime;
    }
    // Aqua
    .colourbox {
        background-color: aqua;
    }
    // Plum
    .colourbox {
        background-color: plum;
    }

    
}